<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.lepture.cordova.socialkit" version="0.1.0">
    <name>SocialKit</name>
    <description>Cordova SocialKit Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,social,share,weibo,twitter,facebook</keywords>
    <repo>https://github.com/lepture/cordova-plugin-socialkit.git</repo>

    <js-module src="www/socialkit.js" name="socialkit">
        <clobbers target="navigator.socialkit" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SocialKit">
                <param name="ios-package" value="CDVSocialKit"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVSocialKit.h" />
        <source-file src="src/ios/CDVSocialKit.m" />
        <framework src="Accounts.framework" weak="true" />
        <framework src="Social.framework" weak="true" />
    </platform>
</plugin>
